.row {
    display: flex;
    flex-direction: row;
}

.cell {
    padding: 10px;
}
#main {
    display: flex;
    
}
#game {
    border-style: solid;
}

#score {    
    padding: 10%;
    margin-left: 10px;
}

#inner {
    background-color: rgb(37, 44, 44);
    display: flex;
    padding: 20px;
}

.unit {
    margin: 20px;
    color: white;
}